appdirs==1.4.3
beautifulsoup4==4.7.1
certifi==2024.7.4
chardet==3.0.4
charset-normalizer==2.0.12
idna>=3.7
Jinja2==3.1.6
MarkupSafe>=2.0
packaging==19.0
pangu==4.0.6.1
pyparsing==2.4.0
requests==2.32.4
six==1.12.0
soupsieve==1.9.1
urllib3==2.5.0
